<!DOCTYPE html>
<html lang="zh">

    <head>
        <meta charset='utf-8'>
        <meta http-equiv="X-UA-Compatible" content="chrome=1">
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
        <meta name="description" content="Yinjie - GitHub.io : Yinjie - GitHub.io">
        <title>{{ page.title || Yinjie - GitHub.io}}</title>
        <link rel="stylesheet" type="text/css" media="screen" href="/css/stylesheet.css">
        <link rel="stylesheet" href="/css/github-gist.css">
        <!--[if lt IE 9]>
        <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
        <![endif]-->
        <script src="/js/jquery-1.11.3.js"></script>
        <script src="/js/highlight.pack.js"></script>
    </head>

    <body class="mainpage">

        <!-- HEADER -->
        <div id="header_wrap" class="outer">
            <header class="inner">
                <a id="forkme_banner" href="https://github.com/yj1438">View on GitHub</a>

                <h1 id="project_title"><a href="/">Yinjie - GitHub.io</a></h1>
                <h2 id="project_tagline">Welcome to the Yinjie's notes</h2>

            </header>
        </div>

        <div id="main_content_wrap" class="outer">
            <section id="main_content" class="inner">
                {{content}}
            </section>
        </div>

        <!-- FOOTER  -->
        <div id="footer_wrap" class="outer">
            <footer class="inner">
                <p>Published with <a href="https://pages.github.com">GitHub Pages</a></p>
            </footer>
        </div>

    <!--baidu 统计-->
    <script>
        var _hmt = _hmt || [];
        (function() {
            var hm = document.createElement("script");
            hm.src = "//hm.baidu.com/hm.js?146fe495fee020bf0e4dd701aa73965f";
            var s = document.getElementsByTagName("script")[0]; 
            s.parentNode.insertBefore(hm, s);
        })();
    </script>
    <script>
        hljs.initHighlightingOnLoad({useBR: true});
        $(document).ready(function() {
            $('pre code').each(function(i, block) {
                hljs.highlightBlock(block);
            });
        });
        (function(){
            var bp = document.createElement('script');
            var curProtocol = window.location.protocol.split(':')[0];
            if (curProtocol === 'https') {
                bp.src = 'https://zz.bdstatic.com/linksubmit/push.js';        
            }
            else {
                bp.src = 'http://push.zhanzhang.baidu.com/push.js';
            }
            var s = document.getElementsByTagName("script")[0];
            s.parentNode.insertBefore(bp, s);
        })();
    </script>

    </body>

</html>