<!DOCTYPE html>
<html lang="zh">
    <head>
        <meta charset='utf-8'>
        <meta http-equiv="X-UA-Compatible" content="chrome=1">
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
        <title>{{ page.title || Yinjie - GitHub.io}}</title>
        <link rel="stylesheet" href="/css/stylesheet.css" media="screen">
        <link rel="stylesheet" href="/css/flexbox.css">
        <link rel="stylesheet" href="/css/github-gist.css">
        <!--[if lt IE 9]>
        <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
        <![endif]-->
        <script src="/js/jquery-1.11.3.js"></script>
        <script src="/js/highlight.pack.js"></script>
    </head>
    <body>
        <!-- HEADER -->
    <div id="header_wrap" class="outer">
        <header class="inner">
            <a id="forkme_banner" href="https://github.com/yj1438">View on GitHub</a>

            <h1 id="project_title">Yinjie - GitHub.io</h1>
            <h2 id="project_tagline">Yinjie - GitHub.io</h2>

        </header>
    </div>
        
    <div id="content-wrapper">
        <div class="main clearfix">
            <aside id="sidebar">
                <ul class="side-nav">
<!--
                    <li><a href="#anchor1">制作漫画</a></li>
                    <li><a href="#anchor2">总结</a></li>
-->
                </ul>
            </aside>

            <section id="main-cont">
                {{content}}
            </section>
        </div>
    </div>
        
    <!-- FOOTER  -->
    <div id="footer_wrap" class="outer">
        <footer class="inner">
            <p>Published with <a href="https://pages.github.com">GitHub Pages</a></p>
        </footer>
    </div>
    <script src="/js/aside-nav.js"></script>
    <script>
        hljs.initHighlightingOnLoad({useBR: true});
        $(document).ready(function() {
            $('pre code').each(function(i, block) {
                hljs.highlightBlock(block);
            });
        });
    </script>
    </body>
</html>