<!DOCTYPE html>
<html lang="zh">
    <head>
        <meta charset='utf-8'>
        <meta http-equiv="X-UA-Compatible" content="chrome=1">
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
        <title>{{ page.title || Yinjie - GitHub.io}}</title>
        <meta name="keywords" content="{{page.title}}">
        <link rel="stylesheet" href="/css/stylesheet.css" media="screen">
        <link rel="stylesheet" href="/css/github-gist.css">
        <!--[if lt IE 9]>
        <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
        <![endif]-->
        <script src="/js/jquery-1.11.3.js"></script>
        <script src="/js/highlight.pack.js"></script>
    </head>
    <body>
        <!-- HEADER -->
    <div id="header_wrap" class="outer">
        <header class="inner">
            <a id="forkme_banner" href="https://github.com/yj1438">View on GitHub</a>

            <h1 id="project_title"><a href="/">Yinjie - GitHub.io</a></h1>
            <h2 id="project_tagline">Welcome to the Yinjie's notes</h2>

        </header>
    </div>
        
    <div id="content-wrapper">
        <div class="main clearfix">
            <aside id="sidebar">
                <ul class="side-nav">
                </ul>
            </aside>

            <section id="main-cont">
                {{content}}
                <!-- 多说评论框 start -->
                <div id="ds_ele" class="ds-thread" data-thread-key="" data-title="{{page.title}}" data-url="http://yj1438.github.io{{page.url}}"></div>
                <!-- 多说评论框 end -->
                <!-- 多说公共JS代码 start (一个网页只需插入一次) -->
                <script type="text/javascript">
                    var url = window.location.pathname;
                    url = url.substr(1, url.length -6).replace(/\//gi, '_');
                    document.getElementById('ds_ele').dataset.threadKey = url;
                    var duoshuoQuery = {short_name:"yj1438"};
                    (function() {
                        var ds = document.createElement('script');
                        ds.type = 'text/javascript';ds.async = true;
                        ds.src = (document.location.protocol == 'https:' ? 'https:' : 'http:') + '//static.duoshuo.com/embed.js';
                        ds.charset = 'UTF-8';
                        (document.getElementsByTagName('head')[0] 
                        || document.getElementsByTagName('body')[0]).appendChild(ds);
                    })();
                </script>
                <!-- 多说公共JS代码 end -->
            </section>
        </div>
    </div>
        
    <!-- FOOTER  -->
    <div id="footer_wrap" class="outer">
        <footer class="inner">
            <p>Published with <a href="https://pages.github.com">GitHub Pages</a></p>
        </footer>
    </div>
    <script src="/js/aside-nav.js"></script>
    <script>
        hljs.initHighlightingOnLoad({useBR: true});
        $(document).ready(function() {
            $('pre code').each(function(i, block) {
                hljs.highlightBlock(block);
            });
        });
        (function(){
            var bp = document.createElement('script');
            var curProtocol = window.location.protocol.split(':')[0];
            if (curProtocol === 'https') {
                bp.src = 'https://zz.bdstatic.com/linksubmit/push.js';        
            }
            else {
                bp.src = 'http://push.zhanzhang.baidu.com/push.js';
            }
            var s = document.getElementsByTagName("script")[0];
            s.parentNode.insertBefore(bp, s);
        })();
        </script>
    </body>
</html>